@import url(reset.css);
* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    background-color: white;
    font-family: 'Poppins',sans-serif;
}
@font-face {
    font-family: 'Poppins';
    src: url(../PoppinsFont/Poppins-Thin.ttf);
    src: url(../PoppinsFont/Poppins-Bold.ttf) format(truetype);
    src: url(../PoppinsFont/Poppins-Regular.ttf) format(ttf);
}
img {
    max-width: 100%;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.row {
    margin: 0 -15px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.col-2,
.col-3,
.col-4,
.col-6 {
    float: left;
    padding: 0 15px;
}
.col-2 {
    width: 16.66666666675%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.333333333%;
}
.col-6 {
    width: 50%;
}
.btn {
    border: none;
    background: none;
}

.header-top {
    line-height: 50px;
    border-bottom: 1px solid #d5d4d4;
}
.contain-top select {
    outline: none;
    border: none;
    vertical-align: middle;
    margin: 0 25px;
}
.contain-top select:hover {
    color: #a749ff;
}
.contain-top .language {
    margin-left: 0;
}
.contain-top span{
    margin: 0 25px;
    vertical-align: middle;
}
.contain-top p {
    float: right;
    vertical-align: middle;
}
.contain-top p span {
    color: #ff1c1c;
    margin: 0;
}
.flex-header-bottom {
    display: flex;
    justify-content: space-between;
}
.header-logo {
    line-height: 92px;
}
.header-logo img {
    vertical-align: middle;
}
.list-menu-header {
    line-height: 92px;
}
.list-menu-header li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}
.list-menu-header i {
    padding-left: 2px;
}
.header-menu li:hover {
    color: #a749ff;
}
.header-icon {
    line-height: 92px;
}
.header-icon ul {
    display: flex;
    flex-wrap: nowrap;
}
.header-bottom .col-3 {
    padding-right: 0;
    padding-left: 0;
}
.header-icon li {
    padding-left: 26px;
}
.header-icon li i {
    font-size: 18px;
}
.list-header-icon {
    float: right;
}
.header-icon li:hover {
    color: #a749ff;
}

.carousel-item {
    background-image: url("/Users/huynhanhthu/Desktop/WorkSpace/HTMLhomework/Homework4/img/imgSlideTop.jpeg");
    height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.carousel-item .contain-carousel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 95px;
}
.contain-carousel h1 {
    font-family: Lobster,cursive;
    font-size: 70px;
    line-height: 90px;
    margin: 12px 0 50px;
    color: #010101;
}
.contain-carousel a {
    font-size: 16px;
    padding: 16px 40px;
    color: #fff;
    border: 1px solid #d70056;
    border-radius: 50px;
    background-color: #d70056;
}
.contain-carousel a:hover {
    background-color: #b81a95;
}
.section-carousels {
    position: relative;
}
.section-carousels .carousel-btn-action {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%
}
.carousel-btn-action i {
    font-size: 30px;
    color: #999;
}
.carousel-btn-action .btn {
    position: absolute;
}
.carousel-btn-action .btn-pre {
    left: 30px;
}
.carousel-btn-action .btn-next {
    right: 30px;
}
.carousel-btn-action i:hover {
    color: #d70056;
}

.banner-area-top {
    margin-top: 100px;
}
.geeks {
    overflow: hidden;
    margin: 0 auto;
}
.geeks img {
    transition: 0.5s all ease-in-out;
    object-fit: cover;
}
.geeks:hover img {
    transform: scale(1.5);
}

.section-product {
    margin-top: 100px;
}
.header-product {
    text-align: center;
}
.header-product h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    color: #000;
}
.product-tab {
    line-height: 100px;
}
.product-tab-list li {
    display: inline-block;
    padding: 0 30px;
}
.product-tab h4 {
    font-size: 18px;
    font-weight: 500;
    color: #555;
    line-height: 24px;
}
.product-show {
    margin-top: 100px;
}
.product-item {
    padding-bottom: 30px;
}
.product-img {
    position: relative;
}
.product-img img {
    width: 100%;
}
.img-slide {
    position: relative;
    cursor: pointer;
}
.img-slide:hover .overlay {
    width: 100%;
}
.img-slide img {
    display: block;
    width: 100%;
    height: 360px;
}
.overlay {
    width: 0;
    height: 360px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.7s ease;
}
.product-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.list-product-icon li {
    display: inline-block;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background: #a749ff;
    text-align: center;
    border-radius: 50%;
}
.list-product-icon li a {
    line-height: 30px;
    display: block;
}
.list-product-icon li:first-child {
    margin-left: 0;
}
.list-product-icon li i {
    color: white;
}
.list-product-icon li i:hover {
    color: #173346;
}
.product-information {
    margin-top: 20px;
}
.title-price {
    float: left;
}
.pro-like {
    float: right;
}
.title-price h3 {
    line-height: 1;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}
.title-price a:hover {
    color: #a749ff;
}
.title-price .price {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
.title-price .old {
    color: #fa6bff;
}
.btn-add-like i {
    font-size: 18px;
}
.btn-add-like i:hover {
    color: #a749ff;
}
.product-offer-time {
    margin-top: 95px;
    text-align: center;
}
.offer-time {
    background-image: url("/Users/huynhanhthu/Desktop/WorkSpace/HTMLhomework/Homework4/img/imgLayout.jpeg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.time-information {
    padding: 100px 0;
}
.time-information h2 {
    font-size: 48px;
    color: #010101;
    line-height: 36px;
    font-weight: 400;
}
.timer {
    margin-top: 65px;
}
.timer li {
    display: inline-block;
    font-size: 48px;
    font-weight: 300;
    color: #555;
    margin: 0 32px;
}
.timer .text {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.time-information .btn-time {
    margin-top: 60px;
}
.time-information a {
    font-size: 16px;
    padding: 16px 40px;
    color: #fff;
    border: 1px solid #d70056;
    border-radius: 50px;
    background-color: #d70056;
}
.time-information a:hover {
    background-color: #b81a95;
}
.header-product p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: grey;
}
.outstanding-products .product-show {
    margin-top: 60px;
}
.section-offer {
    margin-top: 100px;
}
.geeks-bottom {
    overflow: hidden;
    margin: 0 auto;
}
.geeks-bottom img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}
.geeks-bottom:hover img {
    transform: scale(1.5);
}
.section-carousels-brand {
    margin-top: 100px;
}
.header-brand {
    text-align: center;
}
.header-brand h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    color: #000;
}
.header-brand p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: grey;
}
.list-brands {
    margin-top: 60px;
}
.brand-item {
    width: 20%;
    float: left;
    padding: 0 15px;
}
.list-brands li img {
    display: block;
    margin: 0 auto;
}

.page-footer {
    margin-top: 100px;
    background-color: #f6f6f8;
}
.page-footer {
    padding-top: 100px;
    padding-bottom: 70px;
}
.flex-page-footer {
    display: flex;
    justify-content: space-between;
}
.footer p {
    color: #313131;
    letter-spacing: .9px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.footer h3 {  
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #313131;
}
.footer a {
    letter-spacing: .3px;
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
}
.form-horizontal {
    margin-top: 40px;
}
.form-horizontal input {
    outline: none;
    font-size: 13px;
    padding: 2px 10px 2px 0;
    color: #333;
    border: none;
    border-bottom: 2px solid #ebebeb;
    background: transparent;
    width: 100%;
}
button {
    font-size: 14px;
    line-height: 1;
    width: auto;
    height: auto;
    margin: 13px 0 0;
    padding: 0 0 1px;
    text-transform: uppercase;
    color: #313131;
    border: none;
    border-bottom: 2px solid #9b9b9c;
    background: none;
}
.clear button:hover {
    color: #a749ff;
    border-bottom: 2px solid #a749ff;
}

@media screen and (max-width: 1024px) {
    body {
      font-size: 12px;
    }
    .container {
      max-width: 934px;
    }
    .list-menu-header li {
        margin: 0 8px;
    }
    .header-icon li {
        padding-left: 24px;
    }
    .contain-carousel h1 {
        font-size: 60px;
    }
    .product-show {
        margin-top: 30px;
    }
    .product-show .col-3{
        width: 33%;
    }
    .flex-page-footer {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .container {
      max-width: 700px;
    }
    .header-top {
        display: none;
    }
    .header-menu {
        display: none;
    }
    .list-header-icon>li:nth-child(4), 
    .list-header-icon>li:nth-child(5) {
        display: none;
    }
    .contain-carousel h1 {
        font-size: 50px;
    }
    .product-show .col-3{
        width: 50%;
    }
    
}

@media screen and (max-width: 375px) {
    .container {
      max-width: 700px;
    }
    .carousel-item {
        height: 400px;
    }
    .header-logo {
        line-height: 60px;
    }
    .header-icon {
        line-height: 60px;
    }
    .carousel-item .contain-carousel {
        padding-left: 10px;
    }
    .contain-carousel h1 {
        font-size: 40px;
        margin: 0 0 24px;
    }
    .contain-carousel a {
        padding: 10px 30px;
    }
    .carousel-btn-action {
        display: none;
    }
    .banner-area-top .col-6 {
        width: 100%;
    }
    .banner-area-top .banner-right {
        margin-top: 20px;
    }
    .product-tab {
        line-height: 70px;
    }
    .product-show .col-3 {
        width: 100%;
    }
    .time-information h2 {
        font-size: 32px;
    }
    .timer li {
        font-size: 26px;
        margin: 0 22px;
    }
    .timer .text {
        font-size: 14px;
    }
    .banner-area-bottom .col-6 {
        width: 100%;
    }
    .banner-area-bottom .img-right {
        margin-top: 20px;
    }
    .footer {
        width: 100%;
        margin-top: 20px;
    }
}

